<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="footer-links">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 class="heading-tertiary">jg</h3>
            <p class="footer-au">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum eligendi dolorem, facilis aperiam dolore ipsa rem! Accusamus voluptate quidem assumenda possimus, quo quia sunt laborum odio expedita qui facilis excepturi?
            </p>
          </div>
          <div class="col-md-4">
            <h3 class="heading-tertiary">Quick Links</h3>
            <ul class="footer-nav">
              <li class="footer-nav-list">
                <a href="<%= APP_API_URL %>/">Home</a>
              </li>
              <li class="footer-nav-list">
                <a href="<%= APP_API_URL %>/aboutUs">About Us</a>
              </li>
              <li class="footer-nav-list">
                <a href="<%= APP_API_URL %>/deliveryPolicy">Delivery Policy</a>
              </li>
              <li class="footer-nav-list">
                <a href="<%= APP_API_URL %>/termsAndConditions">Terms & Conditions</a>
              </li>
              <li class="footer-nav-list">
                <a href="<%= APP_API_URL %>/contacts">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="heading-tertiary">Contact</h3>
            <p class="address position-relative mb-4">Kathmandu</p>
            <p class="phone position-relative mb-4">+97798080000</p>
            <p class="mail position-relative">mail@hotmail.com</p>
            <div class="social-link">
              <h4 class="heading-social">Follow us on:</h4>
              <ul>
                <li class="d-flex">
                  <a href="#" class="social-icon">
                    <img src="/img/facebook.png" alt="fbicon">
                  </a>
                  <a href="#" class="social-icon">
                    <img src="/img/instagram(1).png" alt="">
                  </a>
                  <a href="#" class="social-icon">
                    <img src="/img/whatsapp.png" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex rr-po justify-content-between align-items-center">
          <p class="para-rights text-center">All rights reserved xyz &copy; 2024</p>
          <div class="payopt d-flex">
            <figure>
              <img src="/img/american-express.png" alt="">
            </figure>
            <figure>
              <img src="/img/card.png" alt="">
            </figure>
            <figure>
              <img src="/img/discover.png" alt="">
            </figure>
            <figure>
              <img src="/img/visa.png" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </footer>
  